/*  Autor: Jorge Tarascó
    Fecha 10 / 12 / 18
*/

@charset "UTF-8";

body {
    background-color: #FFEBF0;
    background-size: 150px;
    font-family: sans-serif;
}

section {
    text-align: center;
    border: black 2px solid;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 1%;
    margin-top: 0%;
}

section.b1 {
    background-image: 
}

h1 {
    text-align: center;
}

p {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
